In [29]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
import matplotlib.pylab as plt

In [30]:
import dmba
#Load the data
house_df = dmba.load_data('BostonHousing.csv')

#Drop CAT.MEDV column
house_df = house_df.drop(columns=['CAT. MEDV'])
house_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,5.33,36.2

In [31]:
from sklearn.model_selection import train_test_split
#split dataset into training (60%) and validation (40%) sets
train_df, valid_df = train_test_split(house_df, test_size=0.4, random_state=1)
print('Training set:', train_df.shape, 'Validation set:', valid_df.shape)

Training set: (303, 13) Validation set: (203, 13)

In [32]:

#normalize training and validation sets
outcome = 'MEDV'
predictors = list(house_df.columns)
predictors.remove(outcome)

scaler = preprocessing.StandardScaler()
scaler.fit(train_df[predictors])

#Transform teh predictors of training validation and newCustomer
train_X = scaler.transform(train_df[predictors])
train_y = train_df[outcome]
valid_X = scaler.transform(valid_df[predictors])
valid_y = valid_df[outcome]

In [33]:
#Train a regressor for different values of k
from sklearn.neighbors import KNeighborsRegressor
import math
from sklearn.metrics import mean_squared_error
results = []
for k in range(1, 6):
    knn = KNeighborsRegressor(n_neighbors=k).fit(train_X, train_y)
    results.append({
        'k': k,
        'RMSE': math.sqrt(mean_squared_error(valid_y, knn.predict(valid_X)))
    })
# Convert results to a pandas data frame
results = pd.DataFrame(results)
results

   k      RMSE
0  1  5.403228
1  2  4.778562
2  3  4.671801
3  4  4.789219
4  5  5.014823

In [42]:
newTract = pd.DataFrame([{'CRIM': 0.2, 'ZN': 0, 'INDUS': 7, 'CHAS': 0, 'NOX': 0.538, 'RM': 6, 'AGE': 62,'DIS':4.7,'RAD': 4,
                          'TAX': 307, 'PTRATIO': 21, 'LSTAT': 10}],
                        columns=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS','RAD','TAX', 'PTRATIO', 'LSTAT'])
newTract

   CRIM  ZN  INDUS  CHAS    NOX  RM  AGE  DIS  RAD  TAX  PTRATIO  LSTAT
0   0.2   0      7     0  0.538   6   62  4.7    4  307       21     10

In [43]:
#normalize new record

newTractNorm = pd.DataFrame(scaler.transform(newTract),
                            columns=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE','DIS', 'RAD', 'TAX', 'PTRATIO', 'LSTAT'])

newTractNorm

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT
0,-0.403622,-0.481603,-0.620687,-0.293294,-0.153758,-0.358814,-0.243285,0.400608,-0.640284,-0.604731,1.197866,-0.421956

In [45]:
#train knn model with k=3
knn = KNeighborsRegressor(n_neighbors=3)
knn.fit(train_X, train_y)

KNeighborsRegressor(n_neighbors=3)

In [46]:
# predict value of new tract
knn.predict(newTractNorm)

C:\Users\nancy\anaconda3\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but KNeighborsRegressor was fitted without feature names
  warnings.warn(

array([18.76666667])